{{ if .useHyprland -}}
#!/bin/bash

echo -e "\033[0;32m>>>>> Begin Setting Up Hyprland <<<<<\033[0m"

# install packages
packages=(
  rofi                          # app launcher
  greetd                        # login manager
  grim                          # screenshots
  hyprland                      # main package
  mako                          # notifications
  hyprpolkitagent               # privilege elevation
  slurp                         # region screnshots
  swaybg                        # wallpaper
  ashell                        # status bar
  wl-clipboard                  # clipboard
  xdg-desktop-portal-gtk        # sharing
  xdg-desktop-portal-hyprland   # sharing
)

{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
# Install packages - Debian/Ubuntu
# ensure the repo index is up-to-date
{{- if ne .chezmoi.username "root" }}
sudo apt update
{{- else }}
apt update
{{- end }}

for package in ${packages[@]}; do
  if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo apt install -y $package
{{- else }}
    apt install -y ${packages[@]}
{{- end }}
  fi
done

{{ else if (eq .chezmoi.osRelease.id "fedora") -}}
# Install packages - Fedora
packages+=(
  Thunar                        # file manager
  tuigreet                      # console greeter for greetd
)

# add extra repos for some packages
sudo dnf -y copr enable solopasha/hyprland
sudo dnf -y copr enable killcrb/ashell

# ensure the repo index is up-to-date
{{- if ne .chezmoi.username "root" }}
sudo dnf update
{{- else }}
dnf update
{{- end }}

for package in ${packages[@]}; do
  if ! $(rpm -q $package &> /dev/null); then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo dnf install -y $package
{{- else }}
    dnf install -y $package
{{- end }}
  fi
done

{{ else if (eq .chezmoi.osRelease.id "arch" "endeavouros") -}}
# Install packages - Arch/EndeavourOS
packages+=(
  thunar                        # file manager
  greetd-tuigreet               # console greeter for greetd
)

for package in ${packages[@]}; do
  if [ "$(pacman -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo pacman -S --noconfirm $package
{{- else }}
    pacman -S --noconfirm $package
{{- end }}
  fi
done
{{- end }}

# Install some extra tools locally
echo "Installing some tools locally ..."
cargo install clipboard-sync

# Use gnome-keyring-daemon as agent
echo "Enable gnome-keyring-daemon ..."
systemctl --user enable gnome-keyring-daemon.service

echo "Enable hyprdynamicmonitors-prepare service ..."
systemctl --user enable hyprdynamicmonitors-prepare.service

# Copy our greetd config from home to the system wide locatin
# .config/etc/greetd/config.toml hash: {{ include "private_dot_config/etc/greetd/config.toml.tmpl" | sha256sum }}
echo "Setting up greetd ..."
sudo cp ~/.config/etc/greetd/config.toml /etc/greetd/config.toml

sudo systemctl disable gdm.service
sudo systemctl disable sddm.servic
sudo systemctl disable lightdm.service
sudo systemctl enable greetd.service

echo -e "\033[0;32m>>>>> Finish Setting Up Hyprland <<<<<\033[0m"
{{ end -}}
