{{ if .useFish -}}
#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish shell <<<<<\033[0m"

## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher update
end

# run fisher update whenever .config/fish/fish_plugins has changes
# .config/fish/fish_plugins hash: {{ include "private_dot_config/private_fish/fish_plugins" | sha256sum }}
fisher update

echo -e "\033[0;32m>>>>> Finish Setting Up Fish shell <<<<<\033[0m"
{{ end -}}
