{{ if eq .chezmoi.hostname "normandy-linux" -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Opendeck <<<<<\033[0m"
# List of AUR packages to install (Arch extra)
packages+=(
  opendeck-bin
)

for package in ${packages[@]}; do
  if [ "$(yay -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
    yay -S --noconfirm $package
  fi
done
echo -e "\033[0;32m>>>>> Finish Setting Up Opendeck Service <<<<<\033[0m"
{{ end -}}
