#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Aqua <<<<<\033[0m"

if [ ! $(command -v aqua) ]; then
    echo "installing aqua"
    cd {{ .chezmoi.homeDir }}/.cache
    curl -sSfL -O https://raw.githubusercontent.com/aquaproj/aqua-installer/v4.0.4/aqua-installer
    echo "acd21cbb06609dd9a701b0032ba4c21fa37b0e3b5cc4c9d721cc02f25ea33a28  aqua-installer" | sha256sum -c
    chmod +x aqua-installer
    ./aqua-installer
    rm -f aqua-installer
fi

# rerun aqua install when the aqua.yaml has changed
# .config/aqua.yaml hash: {{ include "private_dot_config/aqua.yaml" | sha256sum }}
export AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua.yaml
# also check for updates of aqua itself
aqua update-aqua
aqua install -a
echo -e "\033[0;32m>>>>> Finish Setting Up Aqua <<<<<\033[0m"
