{{ if and .useFish (eq .chezmoi.os "linux") -}}
#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish Completions <<<<<\033[0m"

# rerun completion setup when the aqua.yaml has changed
# .config/aqua.yaml hash: {{ include "private_dot_config/aqua.yaml" | sha256sum }}
## Setup completions
if not test -d $__fish_config_dir/completions
  mkdir -p $__fish_config_dir/completions
end

for tool in chezmoi kustomize kubectl helm minikube k9s devpod
  if command -q $tool
    echo "setting up $tool completion"
    $tool completion fish > $__fish_config_dir/completions/$tool.fish
  end
end

if command -q pipenv
  echo "setting up pipenv completion"
  _PIPENV_COMPLETE=fish_source pipenv > $__fish_config_dir/completions/pipenv.fish
end

if command -q poetry
  echo "setting up poetry completion"
  poetry completions fish > $__fish_config_dir/completions/poetry.fish
end

if command -q poetry
  echo "setting up glab completion"
  glab completion -s fish > $__fish_config_dir/completions/glab.fish
end

echo -e "\033[0;32m>>>>> Finish Setting Fish Completions <<<<<\033[0m"
{{ end -}}
