{{ if and .installPackages (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

# List of packages to install
packages=(
  curl
  git
  git-lfs
  kitty
  nodejs
  pandoc
  tmux
)

echo -e "\0033[0;32m>>>>> Begin Package Installation <<<<<\033[0m"
{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
# Install necessary packages - Debian/Ubuntu

# List of ppa repositories to add
repositories=(
  ppa:git-core/ppa
)

# List of packages to install (Debian extra)
packages+=(
  golang
  pipx
  python3
  python3-pip
  python3-venv
  build-essential
  libssl-dev
  zlib1g-dev
  libbz2-dev
  libreadline-dev
  libsqlite3-dev
  libncursesw5-dev
  xz-utils
  tk-dev
  libxml2-dev
  libxmlsec1-dev
  libffi-dev
  liblzma-dev
)

{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
for repository in ${repositories[@]}; do
  ppa_repo_source=${repository#ppa:}
  if ! $(apt-cache policy | grep $ppa_repo_source &> /dev/null); then
    echo "adding $repository repository to apt"
{{- if ne .chezmoi.username "root" }}
    sudo add-apt-repository -y $repository
{{- else }}
    add-apt-repository -y $repository
{{- end }}
  fi
done
{{- end }}

# add NodeSources' NodeJS repository to get the latest NodeJS version
node_repo="node_20.x"
keyring="/usr/share/keyrings/nodesource.gpg"
{{- if ne .chezmoi.username "root" }}
curl -s https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | gpg --dearmor | sudo tee $keyring >/dev/null
sudo chmod a+r $keyring
sudo sh -c "echo deb [signed-by=$keyring] https://deb.nodesource.com/$node_repo nodistro main > /etc/apt/sources.list.d/nodesource.list"
echo "Package: nodejs" | sudo tee /etc/apt/preferences.d/nodejs > /dev/null
echo "Pin: origin deb.nodesource.com" | sudo tee -a /etc/apt/preferences.d/nodejs > /dev/null
echo "Pin-Priority: 600" | sudo tee -a /etc/apt/preferences.d/nodejs > /dev/null
{{- else }}
curl -s https://deb.nodesource.com/gpgkey/nodesource.gpg.key | gpg --dearmor | tee $keyring >/dev/null
chmod a+r $keyring
echo "deb [signed-by=$keyring] https://deb.nodesource.com/$node_repo nodistro main" > /etc/apt/sources.list.d/nodesource.list
{{- end }}

# ensure the repo index is up-to-date
{{- if ne .chezmoi.username "root" }}
sudo apt update
{{- else }}
apt update
{{- end }}

for package in ${packages[@]}; do
  if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo apt install -y $package
{{- else }}
    apt install -y $package
{{- end }}
  fi
done

{{ else if (eq .chezmoi.osRelease.id "fedora") -}}
# Install necessary packages - Fedora

packages+=(
  golang
  pipx
  python3
  python3-pip
  cmake
  make
  automake
  gcc
  gcc-c++
  openssl-devel
  zlib-ng-devel
  readline-devel
  sqlite-devel
  ncurses-devel
  xz
  xz-devel
  tk-devel
  libxml2-devel
  xmlsec1-devel
  libffi-devel
)

# ensure the repo index is up-to-date
{{- if ne .chezmoi.username "root" }}
sudo dnf update
{{- else }}
dnf update
{{- end }}

for package in ${packages[@]}; do
  if ! $(rpm -q $package &> /dev/null); then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo dnf install -y $package
{{- else }}
    dnf install -y $package
{{- end }}
  fi
done

{{ else if (eq .chezmoi.osRelease.id "arch" "endeavouros") -}}
# Install necessary packages - Arch/EndeavourOS

# List of packages to install (Arch extra)
packages+=(
  go
  npm
  pyenv
  python
  python-pip
  python-pipx
  python-poetry
  python-pipenv
  yay
)

for package in ${packages[@]}; do
  if [ "$(pacman -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
{{- if ne .chezmoi.username "root" }}
    sudo pacman -S --noconfirm $package
{{- else }}
    pacman -S --noconfirm $package
{{- end }}
  fi
done

# List of AUR packages to install (Arch extra)
packages+=(
  deckmaster
)

for package in ${packages[@]}; do
  if [ "$(yay -Qq $package 2> /dev/null)" != $package ]; then
    echo "installing $package"
    yay -S --noconfirm $package
  fi
done
{{- end }}
echo -e "\0033[0;32m>>>>> Finish Package Installation <<<<<\033[0m"
{{ end -}}
