#!/bin/bash
# rerun command if the plugins or mason tools list has changed
# .config/nvim/lazy-lock.json hash: {{ include "private_dot_config/nvim/lazy-lock.json" | sha256sum }}
# .config/nvim/lua/plugins/tools.lua hash: {{ include "private_dot_config/nvim/lua/plugins/tools.lua" | sha256sum }}

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Neovim <<<<<\033[0m"
nvim --headless "+Lazy! restore" +qa
nvim --headless -c "TSUpdateSync" -c "MasonToolsInstall" -c "quitall"
echo -e "\033[0;32m>>>>> Finish Setting Up Neovim <<<<<\033[0m"
