{{ if .useFish -}}
#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish shell <<<<<\033[0m"

## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher update
end

# run fisher update whenever .config/fish/fish_plugins has changes
# .config/fish/fish_plugins hash: {{ include "private_dot_config/private_fish/fish_plugins" | sha256sum }}
fisher update

# tide config
tide configure --auto --style=Rainbow --prompt_colors='16 colors' --show_time=No --rainbow_prompt_separators=Vertical --powerline_prompt_heads=Sharp --powerline_prompt_tails=Flat --powerline_prompt_style='Two lines, character' --prompt_connection=Solid --powerline_right_prompt_frame=No --prompt_spacing=Sparse --icons='Many icons' --transient=No

echo -e "\033[0;32m>>>>> Finish Setting Up Fish shell <<<<<\033[0m"
{{ end -}}
