[user]
    email = {{ .email }}
    name = Ingo Unterweger
{{- if .gitSigningKey }}
    signingKey = {{ .gitSigningKey }}

[commit]
    gpgsign = true
{{- end }}

[alias]
    ci = commit
    st = status

[pull]
    default = current
    rebase = true

[push]
    followTags = true

[fetch]
    prune = true

[includeIf "gitdir:~/projects/"]
	path = ~/.projects.gitconfig
