[user]
    email = {{ .email }}
    name = Ingo Unterweger
{{- if .gitSigningKey }}
    signingKey = {{ .gitSigningKey }}

[commit]
    gpgsign = true
{{- end }}

[alias]
    ci = commit
    st = status

[pull]
    default = current
    rebase = true

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true

[diff]
	wsErrorHighlight = all

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[includeIf "gitdir:~/projects/"]
	path = ~/.projects.gitconfig
