[user]
    email = {{ .email }}
    name = Ingo Unterweger
{{- if .gitSigningKey }}
    signingKey = {{ .gitSigningKey }}

[commit]
    gpgsign = true
{{- end }}

[alias]
    ci = commit
    st = status
    # remove local branches that track remote branches that are gone (e.g. after being merged)
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[pull]
    default = current
    rebase = true

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true

[diff]
	wsErrorHighlight = all

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[includeIf "gitdir:~/projects/"]
	path = ~/.projects.gitconfig
