{{ if .driveSync -}}
[Unit]
Description=Timer for Google Drive sync

[Timer]
# Start first sync 15 minutes after login and then 15 minutes after each sync
OnStartupSec=900
OnUnitInactiveSec=900

[Install]
WantedBy=timers.target
{{ end -}}
