* {
    border: none;
    border-radius: 0px;
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    transition: 0.3s;
    color: #dfdfe0;
}

window#waybar {
    background: #192330;
    opacity: 0.9;
}

tooltip {
    background: #29394f;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #39506d;
    transition: 0.3s;
}

#window,
#clock,
#mpris,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-wlogout,
#backlight {
    background: #2b3b51;
    padding: 2px 10px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #39506d;
    border-radius: 15px;
}

#mpris {
    margin-left: 5px;
}

#clock {
    color: #f4a261;
    transition: 0.3s;
}

#network {
    color: #dbc074;
}

#bluetooth {
    color: #719cd6;
}

#pulseaudio {
    color: #719cd6;
}

#pulseaudio.microphone {
    color: #d67ad2;
}

#battery {
    color: #81b29a;
}

#custom-wlogout {
    color: #9d79d6;
    margin-right: 5px;
}
