[terminal]
vt = 2

# The default session, also known as the greeter.
[default_session]
command = "tuigreet --cmd /usr/bin/Hyprland"
{{- if (eq .chezmoi.osRelease.id "fedora") }}
user = "greetd"
{{- else }}
user = "greeter"
{{- end }}
